body{
    letter-spacing: normal;
    line-height: normal;
}
.Intro{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 50px;
   text-align: center; 
   border: 5px saddlebrown; 
   background-color: seagreen;
}
.About{
    border: none;
    cursor: pointer;
} 